*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  color: #000;
  min-height: 100vh;
  background: #fff;
  text-rendering: optimizeSpeed;
  font-family: 'Roboto', sans-serif;
}

table {
  border-collapse: collapse;
  padding: 1rem;
  background: #fff;
  box-shadow: rgba(224, 224, 224, 0.25) 0px 2px 5px;
}

th {
  font-weight: normal;
  text-align: left;
}

tr {
  border: 1px solid #e5e5e5;
}

td,
th {
  background: #fff;
  padding: 1rem;
}

td:last-child {
  padding-left: 1rem;
}
